{%extends 'planner/base.html'%}
{% load widget_tweaks%}
{% load i18n %}
{% block content %}
<div class="container content px-3 mt-3">
    <text class="has-text-weight-bold is-size-3">{{plan.name}} </text>
    <a class="button is-small is-danger" href="{%url 'delete-plan' plan.pk%}">{%trans "Delete"%}</a>
    <div class="columns mt-1 is-multiline">
    {% for key, value in days.items %}
        <div class="column is-one-third">
            <div class="box">
                <p class="is-size-4 has-text-weight-bold">{%trans "Day"%} {{value}}</p>
                <ul>
                    <li><text class="is-size-5 has-text-weight-semibold">{%trans "Breakfast"%}:</text></li>
                    <ul>
                    {% for item in items %}
                        {% if item.day == value and item.time == 'br' %}
                            <li>{{item.recipe.name}}<a class="delete is-small is-hidden" href="{%url 'delete-plan-item' pk=plan.pk item_pk=item.pk%}"></a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </ul>
                <ul>
                    <li><text class="is-size-5 has-text-weight-semibold">{%trans "Lunch"%}:</text></li>
                    <ul>
                    {% for item in items %}
                        {% if item.day == value and item.time == 'ln' %}
                            <li>{{item.recipe.name}}<a class="delete is-small is-hidden" href="{%url 'delete-plan-item' pk=plan.pk item_pk=item.pk%}"></a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </ul>
                <ul>
                    <li><text class="is-size-5 has-text-weight-semibold">{%trans "Dinner"%}:</text></li>
                    <ul>
                    {% for item in items %}
                        {% if item.day == value and item.time == 'dn' %}
                            <li>{{item.recipe.name}}<a class="delete is-small is-hidden" href="{%url 'delete-plan-item' pk=plan.pk item_pk=item.pk%}"></a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </ul>
                <ul>
                    <li><text class="is-size-5 has-text-weight-semibold">{%trans "Snacks"%}:</text></li>
                    <ul>
                    {% for item in items %}
                        {% if item.day == value and item.time == 'sn' %}
                            <li>{{item.recipe.name}}<a class="delete is-small is-hidden" href="{%url 'delete-plan-item' pk=plan.pk item_pk=item.pk%}"></a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </ul>
                
                <text>{% trans "Total calories: "%}{{day_calories|get_item:value}}</text> <br>
                {% if language == 'en'%}
                    <text>{% trans "Total price: $"%} {%widthratio day_price|get_item:value 76 1|floatformat:2 %}</text>
                {% else %}
                    <text>{% trans "Total price: $"%}{{day_price|get_item:value}}</text>
                {% endif %}
            </div>   
        </div>
        
    {% endfor %}
    </div>
    <button id="edit-button" class="button is-warning mb-3">{%trans "Edit" %}</button> <br>
</div>



    
<div id="post-form" class="container content px-3 is-hidden">
<text class="has-text-weight-bold is-size-4">{%trans "You can add recipes to your plan"%}:</text>
    <form method ="POST">
        {%csrf_token%}
        {{ form.non_field_errors }}
    <!--
    <div class="field">
        {{ form.day.errors }}
        <label class="label" for="{{ form.day.id_for_label }}">Day:</label>
        <div class="select">
            {{ form.day}}
        </div>
    </div>
    -->
    <div class="field">
        <label class="label">{%trans "Day"%}:</label>
        <div class="select">
        <select name="select" id="select">
            {% for key, value in days.items %}
            <option>{%trans "Day"%}{{value}}</option>
            {% endfor %}
        </select>
        </div>
    </div>
    <div class="field">
        {{ form.time.errors }}
        <label class="label" for="{{ form.time.id_for_label }}">{%trans "Time"%}:</label>
        <div class="select">
            {{ form.time }}
        </div>
    </div>
    <div class="field">
        {{ form.recipe.errors }}
        <label class="label" for="{{ form.recipe.id_for_label }}">{%trans "Recipe"%}:</label>
        <div class="select">
            {{ form.recipe }}
        </div>
    </div>

        <button class="button is-danger" type="submit">{%trans "Submit"%}</button>
    </form>
</div>
<script type="text/javascript">
    const editButton = document.querySelector('#edit-button');
    const postForm = document.querySelector('#post-form');
    // Get all "delete" elements
    const deleteIcons = Array.prototype.slice.call(document.querySelectorAll('.delete'), 0);

    editButton.addEventListener('click', () => {
        console.log('Clicked')
        postForm.classList.toggle('is-hidden');

        deleteIcons.forEach(function (arrayItem) {
            arrayItem.classList.toggle('is-hidden');
        });
    });

    
</script>
{% endblock content %}

