{%extends 'planner/base.html'%}
{% load widget_tweaks%}
{% load i18n %}
{% block content %}
<div class="container content px-3 mt-3">
    <text class="has-text-weight-bold is-size-3">{{plan.name}}</text>
    <div class="columns mt-1 is-multiline">
    {% for key, value in days.items %}
        <div class="column is-one-third">
            <div class="box">
                <p class="is-size-4 has-text-weight-bold"><a href="{%url 'edit-plan' plan.pk%}">{%trans "Day"%} {{value}}</a></p>
                <ul>
                    <li><text class="is-size-5 has-text-weight-semibold">{%trans "Breakfast"%}:</text></li>
                    <ul>
                    {% for item in items %}
                        {% if item.day == value and item.time == 'br' %}
                            <li>{{item.recipe.name}}<!--<a class="delete is-small" href="#"></a>--></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </ul>
                <ul>
                    <li><text class="is-size-5 has-text-weight-semibold">{%trans "Lunch"%}:</text></li>
                    <ul>
                    {% for item in items %}
                        {% if item.day == value and item.time == 'ln' %}
                            <li>{{item.recipe.name}}<!--<a class="delete is-small" href="#"></a>--></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </ul>
                <ul>
                    <li><text class="is-size-5 has-text-weight-semibold">{%trans "Dinner"%}:</text></li>
                    <ul>
                    {% for item in items %}
                        {% if item.day == value and item.time == 'dn' %}
                            <li>{{item.recipe.name}}<!--<a class="delete is-small" href="#"></a>--></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </ul>
                <ul>
                    <li><text class="is-size-5 has-text-weight-semibold">{%trans "Snacks"%}:</text></li>
                    <ul>
                    {% for item in items %}
                        {% if item.day == value and item.time == 'sn' %}
                            <li>{{item.recipe.name}}<!--<a class="delete is-small" href="#"></a>--></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </ul>
                
                <text>{% trans "Total calories: "%}{{day_calories|get_item:value}}</text> <br>
                {% if language == 'en'%}
                    <text>{% trans "Total price: $"%}{{day_price|get_item:value|floatformat:2}}</text>
                {% else %}
                    <text>{% trans "Total price: $"%} {%widthratio day_price|get_item:value 1 76%}</text>
                {% endif %}
            </div>   
        </div>
        
    {% endfor %}
    </div>
    <text class="has-text-weight-bold is-size-4">{%trans "You can add recipes to your plan"%}:</text>
</div>

<div class="container content px-3">
    <form method ="POST">
        {%csrf_token%}
        {{ form.non_field_errors }}
    <!--
    <div class="field">
        {{ form.day.errors }}
        <label class="label" for="{{ form.day.id_for_label }}">Day:</label>
        <div class="select">
            {{ form.day}}
        </div>
    </div>
    -->
    <div class="field">
        <label class="label">{%trans "Day"%}:</label>
        <div class="select">
        <select name="select" id="select">
            {% for key, value in days.items %}
            <option>Day {{value}}</option>
            {% endfor %}
        </select>
        </div>
    </div>
    <div class="field">
        {{ form.time.errors }}
        <label class="label" for="{{ form.time.id_for_label }}">{%trans "Time"%}:</label>
        <div class="select">
            {{ form.time }}
        </div>
    </div>
    <div class="field">
        {{ form.recipe.errors }}
        <label class="label" for="{{ form.recipe.id_for_label }}">{%trans "Recipe"%}:</label>
        <div class="select">
            {{ form.recipe }}
        </div>
    </div>

        <button class="button is-primary" type="submit">{%trans "Submit"%}</button>
    </form>
</div>
{% endblock content %}