{% load i18n %}
{%load static%}
<link rel="stylesheet" href="{%static 'css/normalize.css'%}" />
<link rel="stylesheet" href="{%static 'mybulma/css/mystyles.css'%}">
<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{%url 'home' %}">
      TRACKER
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" id="burger">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="nav-links">
    <div class="navbar-start">
      <a class="navbar-item" href="{%url 'planner'%}">
        {% trans "Planner" %}
      </a>

      <a class="navbar-item" href="{%url 'products' %}">
        {% trans "Products" %}
      </a>

      <a class="navbar-item" href="{%url 'recipes'%}">
        {% trans "Recipes" %}
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          {% trans "More" %}
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            {% trans "About" %}
          </a>
          <hr class="navbar-divider">
          <div class="navbar-item">
            <a class="has-text-dark pr-1" href="{%url 'change-language' 'en'%}">
              EN  
            </a>
            |
            <a class="has-text-dark px-1" href="{%url 'change-language' 'ru'%}">
              RU
            </a>
           </div> 
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        
        <div class="buttons">
          {%if request.user.is_authenticated %}
            <a class="button is-danger" href="{%url 'logout'%}">
              {% trans "Log out" %}
            </a>
          {% else %}
            <a class="button is-danger" href="{%url 'register'%}">
              <strong>{% trans "Sign up" %}</strong>
            </a>
            <a class="button is-danger" href="{%url 'login'%}">
              {% trans "Log in" %}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>