{%extends 'planner/base.html'%}
{% load i18n %}
{% block content %}
<div class="container content px-3 mt-4">
    <text class="has-text-weight-bold is-size-2">{{recipe.name}}</text>
    <p>{{recipe.description}}</p>
    <ul>
        {% for item in items %}
        {% if language == 'en' %}
        <li>{{item.product.name}}, {{item.grams}}{%trans "g"%}., {%trans "$"%} {{item.get_total|div:76}}</li>
        
        {%else%}
        <li>{{item.product.name}}, {{item.grams}}{%trans "g"%}., {%trans "$"%} {{item.get_total}}</li>
        {% endif %}
        {% endfor %}
    </ul>
    <text class="is-size-6">{%trans "Author: "%}{{recipe.user}}</text> <br>
    {% if request.user != recipe.user and request.user.is_authenticated%}
        {% if recipe not in q2 %}
            <a class="button is-primary" href="{%url 'save-recipe' recipe.pk%}">{%trans "Save recipe"%}</a>
        {% else %}
            <a class="button is-primary" href="{%url 'remove-recipe' recipe.pk%}">{%trans "Remove recipe"%}</a>
        {% endif %}
    {% endif %}
</div>
{% endblock content %}