{%extends 'planner/base.html'%}
{% load i18n %}
{% block content %}
<div class="container content px-3">
    <text class="has-text-weight-bold is-size-2">{{recipe.name}}</text>
    <p>{{recipe.description}}</p>
    <ul>
        {% for item in items %}
        {% if language == 'en' %}
        <li>{{item.product.name}}, {{item.grams}}{%trans "g"%}., {%trans "$"%}{%widthratio  item.get_total 76 1|floatformat:2%}</li>
        
        {%else%}
        <li>{{item.product.name}}, {{item.grams}}{%trans "g"%}., {%trans "$"%}{{item.get_total}}</li>
        {% endif %}
        {% endfor %}
        </ul>
</div>
{% endblock content %}