{%extends 'planner/base.html'%}
{%load widget_tweaks%}
{%load i18n%}
{%block content%}
    <div class="container content px-3 mt-4">
        <h2 class="has-text-weight-bold is-size-3 mt-0 mb-2">{%trans "My recipes"%}:</h2>
        <p class="is-size-5">{%trans "All your recipes and recipes you save will be added here!"%}</p>
    </div>
    <div class="container px-3">
        <div class="columns is-multiline">
            {% for recipe in recipes%}
                <div class="column is-one-third">
                    <div class="box">
                        <p class="is-size-4 has-text-weight-bold"><a href="{%url 'recipe-detail' recipe.pk%}">{{recipe.name}}</a></p>
                        <text>{{recipe.get_total_calories}} {%trans "calories"%}</text> <br>
                        {%if language == 'en'%}
                            <text>{%trans "Avg. price: $"%} {{recipe.get_total_price|div:76}}</text>
                        {% else %}
                            <text>{%trans "Avg. price: $"%} {{recipe.get_total_price}}</text>
                        {% endif %}
                        {% if request.user.is_authenticated and request.user == recipe.user%}
                            <a class="button is-small" href="{%url 'edit-items' recipe.pk%}">{%trans "Edit"%}</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{%endblock%}