{% extends 'planner/base.html'%}
{% load i18n %}
{% load widget_tweaks %}
{% block content%}
<div class="container content px-3 mt-4">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="control">
            <legend><h1 class="has-text-weight-bold is-size-3">{%trans "Sign in"%}</h1></legend>
            <hr class="mt-0 mb-3">
            {{ form.non_field_errors }}
            <div class="field">
                {{ form.username.errors }}
                <label class="label" for="{{ form.username.id_for_label }}">{%trans "Email or username"%}:</label>
                    {{ form.username|add_class:"input"}}
            </div>
            <div class="field mb-3">
                {{ form.password.errors }}
                <label class="label" for="{{ form.password.id_for_label }}">{%trans "Password"%}:</label>
                    {{ form.password|add_class:"input"}}
            </div>
        </fieldset>
        <div class="control">
            <button class="button is-danger" type="submit">{%trans "Sign in"%}</button>
        </div>
    </form>
    <div class="pt-3">
        <small>{%trans "Need an account?"%} <a class="ml-2" href="{%url 'register'%}">{%trans "Sign up"%}</a></small>
    </div>
    <div class="pt-2">
        <small>{%trans "Forgot password?"%} <a class="ml-2" href="{%url 'reset_password'%}">{%trans "Reset password"%}</a></small>
    </div>

</div>
{% endblock content%}