{%extends 'planner/base.html'%}
{%load i18n%}
{%block content%}
<div class="content container px-3 mt-4">
    <h2 class="has-text-weight-bold is-size-3 mb-2">{%trans "Email sent."%}</h2>
    <hr class="mt-0 mb-2">
    <p class="is-size-5 mb-3">{%trans "We've mailed you the instructions with reset details. If you didn't recieve an email, please make sure you have entered the address you registered with, and check your spam folder."%}</p>
    <a href="{% url 'home' %}">{%trans "Return to home page"%}</a>
</div>
{%endblock%}