{%extends 'planner/base.html'%}
{%load i18n%}
{%load widget_tweaks%}
{%block content%}
<div class="container content px-3 mt-4">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="control">
            <legend class="border-bottom pt-3 mb-4"><h1 class="is-size-3 has-text-weight-bold">{%trans "Reset password"%}</h1></legend>
            {{ form.non_field_errors }}
            
            <div class="field mb-3">
                {{ form.new_password1.errors }}
                <label class="label" for="{{ form.new_password1.id_for_label }}">{%trans "New password"%}:</label>
                    {{ form.new_password1|add_class:"input"}}
            </div>
            <div class="field mb-3">
                {{ form.new_password2.errors }}
                <label class="label" for="{{ form.new_password2.id_for_label }}">{%trans "Confirm password"%}:</label>
                    {{ form.new_password2|add_class:"input"}}
            </div>
        </fieldset>
        <div class="control">
            <button class="button is-danger" type="submit">{%trans "Reset"%}</button>
        </div>
    </form>
    
</div>
{%endblock%}