@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$red: #E76F51;
$orange: #F4A261;
$yellow: #e9c46a;
$blue-light: #2a9d8f;
$blue-dark: #264653;
$green: #60d394;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $blue-dark;
$grey-light: $blue-light;
$primary: $blue-dark;
$warning: $yellow;
$danger: $red;
$link: $red;
$info: $green;
//$widescreen-enabled: false;
//$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: #FFFFFF;
$control-border-width: 2px;
//$input-border-color: green;
$input-background-color: #f1faee;
$input-shadow: none;

@import "C:/Users/romon/node_modules/bulma/bulma.sass";